@import "src/styles";

.price {
  &__card {
    width: 100%;
    height: 175px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 10px;
      font-size: 25px;
    }

    &__description {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  &__title {
    padding: 0 0 15px 10px;
    h5 {
      font-size: 20px;
    }
  }

  &__form {
    width: 50%;
    padding-left: 5px;
    margin-bottom: 20px;

    &__addService {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 180px;
    }

    &__button {
      width: 100%;
    }

    &__input {
      width: calc(100% - 70px);
      position: absolute;
      padding: 10px 35px;
      @include customInputStyles;
    }

    &__actionBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.priceTable {
  width: 100%;
  display: grid;
  align-items: start;
  justify-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  &__column {
    width: 100%;
    display: grid;
    justify-items: center;
    border-radius: 15px;
    border: 1px solid var(--green-crayola-pine);

    &__header {
      width: calc(100% - 30px);
      padding: 15px;
      display: flex;
      justify-content: center;
      color: var(--basic-white);
      @include customBackgroundStyles;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      h4 {
        text-align: center;
        font-size: 25px;
      }
    }

    &__item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid var(--green-crayola-pine);
      }
    }
  }
}

.services {
  &__container {
    width: 70%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-white);
    border-radius: 15px;
    border: 1px solid var(--green-crayola-pine);
  }

  &__table {
    width: calc(100% - 30px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--green-pine);
      transition:
        color 0.5s,
        transform 0.5s;

      &:hover {
        color: var(--turquoise);
        transform: scale(1.05);
      }

      svg {
        font-size: 2rem;
      }
      h3 {
        font-size: 30px;
      }

      h3:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__list {
      margin-left: 10px;
      font-size: 20px;
      color: var(--basic-black);
      cursor: pointer;
      overflow: hidden;
      transition:
        max-height 0.7s linear,
        opacity 0.7s linear;

      &.slideDown {
        max-height: 500px;
        opacity: 1;
      }

      &.slideUp {
        max-height: 0;
        opacity: 0;
      }
    }

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      &:hover .services__table__item__description {
        max-height: fit-content;
        opacity: 1;
        overflow: visible;
        transition:
          max-height 0.7s ease,
          opacity 0.7s ease;
      }

      &__title {
        position: relative;
        width: 50%;
        transition: color 0.5s;
        font-size: 20px;
        &:hover {
          color: var(--tiffany);
        }

        &:not(:last-child) {
          margin: 8px 0;
        }
      }

      &__description {
        width: 30rem;
        position: absolute;
        left: 40%;
        max-height: 0;
        padding: 10px;
        margin-left: 20px;
        overflow: hidden;
        border: 1px solid var(--green-crayola-pine);
        border-radius: 15px;
        transition: opacity 0.5s ease;
        opacity: 0;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .priceTable {
    &__column {
      &__header {
        h2 {
          font-size: 20px;
        }
      }
    }
  }

  .services {
    &__table {
      &__title {
        h3 {
          font-size: 20px;
        }

        svg {
          font-size: 1.5rem;
        }
      }

      &__item {
        &__title {
          width: 65%;
          font-size: 17px;
        }

        &__description {
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .price {
    &__container {
      &__title {
        font-size: 20px;
      }

      &__description {
        font-size: 17px;
      }
    }

    &__title {
      h5 {
        font-size: 17px;
      }
    }
  }
  .priceTable {
    &__column {
      &__header {
        h4 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .services {
    &__container {
      width: 90%;
    }
  }

  .priceTable {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
