@import "src/styles";

.cart {
  &__page {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-white);
    border-radius: 15px;
    border: 1px solid var(--green-crayola-pine);

    &__title {
      width: calc(100% - 30px);
      padding: 15px;
      text-align: center;
      color: var(--basic-white);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: 1px solid var(--green-crayola-pine);
      font-size: 30px;
      @include customBackgroundStyles;
    }
  }

  &__container {
    width: calc(100% - 30px);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: var(--basic-black);
  }

  &__unlogged {
    display: flex;
    justify-content: center;
    align-items: center;

    &__title{
      font-size: 30px;
      color: var(--green-pine);
    }
  }

  &__appointment {
    width: 350px;

    &__main {
      margin-bottom: 15px;
    }

    &__info {
      display: flex;
      align-items: center;
      border: 1px solid var(--green-crayola-pine);
      border-radius: 15px;


      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__button {
      width: calc(15% - 10px);
      padding: 10px;
    }

    &__bc {
      width: calc(85% - 10px);
      color: var(--basic-white);
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      @include customBackgroundStyles;
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--basic-white);
      backdrop-filter: blur(8px);
      border-left: 1px solid var(--green-crayola-pine);
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;

      p:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__data {
      padding: 10px;

      > p {
        font-size: 15px;
      }
    }

    &__message {
      width: calc(100% - 20px);
      padding: 10px;
      display: flex;
      justify-content: center;
      background-color: var(--basic-white);
      color: red;
      border-bottom-right-radius: 15px;
      font-size: 15px;
    }

    &__aside {
      &__info {
        margin-bottom: 5px;
        font-size: 20px;
      }

      &__btn {
        width: 350px;
        margin-bottom: 5px;
      }
    }
  }
}

.checkout {
  > :not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-size: 20px;
  }

  &__select {
    display: flex;
    align-items: center;
    font-size: 17px;
  }

  &__inputPay {
    display: none;

    + span {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 1px solid var(--basic-black);
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;

      svg {
        width: 20px;
      }
    }

    &:checked + span {
      background-color: var(--green-crayola-pine);
    }

    + span svg {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
    }

    &:checked + span svg {
      display: block;
    }
  }

  &__iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s;

    &:hover {
      transform: scale(1.2);
      background-color: var(--basic-white);
      border: 1px solid var(--green-crayola-pine);
    }

    svg {
      transition: fill 0.3s;
    }

    &:hover svg {
      fill: var(--basic-black);
    }
  }

  &__button {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .cart {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .checkout {
    width: 350px;
  }
;
}

@media screen and (max-width: 960px){
  .cart {
    &__page {
      &__title {
        font-size: 20px;
      }
    }
    &__unlogged {
      &__title{
        font-size: 20px;
      }
    }
    &__appointment {
      &__data {
        > p {
          font-size: 13px;
        }
      }
      &__message {
        font-size: 13px;
      }
      &__aside {
        &__info {
          font-size: 17px;
        }
      }
    }
  }
  .checkout {
    &__title {
      font-size: 17px;
    }
    &__select {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 550px){
  .cart {
    &__page {
      width: 90%;
    }

    &__appointment {
      width: 290px;

      &__button {
        width: calc(17% - 10px);

        button {
          padding: 6px;
        }
      }
      &__aside {
        &__btn {
          width: 290px;
        }
      }
    }
  }
  .checkout {
    width: 290px;
  }
}