@import "src/styles";

.available {
  &__page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__container {
    width: 70%;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 25px;
    align-items: start;
    justify-items: center;
    padding: 0 10px;
    overflow-x: scroll;
  }

  &__card {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: linear 0.7s ;
    cursor: pointer;

    :hover {
      transition: linear 0.7s ;
      transform: scale(1.1);

      > * {
        transform: none !important;
      }
    }
  }

  &__wrapper {
    width: 100%;
    height: 88vh;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
  }

  &__profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__info {
      width: calc(100% - 21.6px);
      height: 70px;
      padding: 10px;
      color: var(--green-crayola-pine);
      background-color: var(--basic-white);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom: 1px solid var(--green-crayola-pine);
      border-right: 1px solid var(--green-crayola-pine);
      border-left: 1px solid var(--green-crayola-pine);

      h5{
        font-size: 20px;
      }

      :hover{
        color: var(--turquoise);
      }

      > *:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__message {
    transform: translateX(-25%);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: 15px;

    &__error, &__success {
      animation-name: slideIn;
      text-align: center;
      color: var(--basic-black);
    }
  }
  &__filter {
    display: flex;
  }
}

.hide {
  animation-name: slideOut;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}


.noavailable {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: 20px;
      padding: 15px;
      border-radius: 10px;
      color: white;
      border: 2px solid white;
      @include customBackgroundStyles
    }
  }
}

.master {
  &__container {
    width: 330px;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--basic-white);
    border: 1px solid var(--green-crayola-pine);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--green-crayola-pine);

    &__name{
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__avatar {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-top-right-radius: 15px;
      margin-bottom: 10px;
    }
  }

  &__photo {
    width: calc(100% - 1px);
    height: 190px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--green-crayola-pine);
  }

  &__button {
    position: relative;
    width: 300px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__add {
      display: flex;
      align-items: center;

      svg {
        width: 17px;
        margin-right: 10px;
      }
    }

    button {
      width: 100%;
      height: 32px;
    }
  }

  &__category {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 15px;
    }
  }
}

@keyframes cartAnimation {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  25% {
    transform: translateX(600%);
    opacity: 0;
  }
  50% {
    transform: translateX(-600%);
    opacity: 0;
  }
  75% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.iconWrapper {
  position: relative;
  display: inline-block;
}

.cart-animation {
  animation: cartAnimation 2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.cart-animation-text {
  display: inline-block;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .available {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1050px) {
  .available {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }

    &__profile {
      &__info {
        h5 {
          font-size: 17px;
            }
        }
      }
    }

  .master {
    &__container  {
      width: 260px;
    }

    &__button {
      width: 240px;
      button {
        font-size: 13px;
      }
    }

    &__info {
      &__name {
        font-size: 17px;
      }
    }

    &__category {
      p {
        font-size: 13px;
      }
    }
  }
  }

@media screen and (min-width: 581px) and (max-width: 850px) {
  .available {
    &__page {
      justify-content: center;
    }

    &__message {
      font-size: 13px;
    }
  }
  .master {
    &__container {
      width: 558.4px;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-right: 0;
    }

    &__info {
      padding: 10px 0 0 10px;
    }

    &__avatar {
      border-left: 2px solid var(--green-crayola-pine);

      img {
        height: 100%;
        border-bottom-right-radius: 15px;
      }
    }
  }
}

@media screen and (min-width: 710px) and (max-width: 780px){
  .master {
    &__photo {
      height: 160px;
    }
  }

  .available {
    &__card {
      width: 180px;
    }
  }
}

@media screen and (max-width: 710px) {
  .available {
    &__container {
      width: 85%;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 580px){
  .master {
    &__container {
      width: 25rem;
      margin-right: 0;
    }

    &__avatar{
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
  }
}