@import "src/styles";

.schedules {
  &__title {
    font-size: 25px;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__table {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 220px;
      margin: 10px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--green-crayola-pine);
      border-radius: 15px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 15px;
    }

    &__time {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      & > :not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__status {
    display: flex;
    align-items: center;
    margin: 15px 0;
    & > :not(:last-child) {
      margin-right: 10px;
    }

    h5 {
      font-size: 18px;
    }
  }

  &__buttonAction {
    display: flex;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__input {
      position: absolute;
      width: 80%;
      height: 35px;
      padding-left: 30px;
      @include customInputStyles;
    }

    &__label {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__added {
    &__wrap {
      margin: 10px 0;
    }

    &__date {
      width: 235px;
      padding: 8px 10px;
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 2px solid var(--green-pine);
    }
  }
}

@media screen and (min-width: 950px) {
  .schedules {
    &__container {
      max-height: 80vh;
      overflow-y: scroll;
    }
  }
}

@media screen and (max-width: 950px) {
  .schedules {
    &__container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__table {
      max-height: 60vh;
      overflow-y: scroll;
    }
    &__status {
      h5 {
        font-size: 15px;
      }
    }
    &__title {
      font-size: 20px;
    }
  }
}
