.user {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__info {
      margin-bottom: 15px;
    }

    &__action {
      width: 70%;
    }
  }

  &__img{
    &__container {
      margin-bottom: 20px
    }

    &__avatar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 240px;
      height: 220px;
      object-fit: cover;
      object-position: center;
      border-radius: 25px;
      transition: transform 0.7s ease, height 0.7s ease;
      cursor: pointer;
    }

    &__avatar:hover {
      transition: 0.7s;
      transform: scale(1.1);
    }

    &__del {
      margin-top: 20px;
    }
  }

  &__card {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    &__page {

    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    &__title {
      width: 100%;
      text-align: center;
      color: var(--basic-white);
      margin-top: -20px;
      padding: 20px;
      margin-bottom: 10px;
      background-image: url("../../../assets/img/background/bc-main.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &__container {
      display: flex;
      width: 355px;
      height: 150px;
      border: 2px solid var(--green-pine);
      border-radius: 15px;
    }

    &__img{
      width: 150px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

      &__bc {
        width: calc(85% - 10px);
        color: var(--basic-white);
        background-image: url("../../../assets/img/background/bc-main.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }

    &__details {
      width: 185px;
      height: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-left: 2px solid var(--green-pine);
      backdrop-filter: blur(5px);
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;

      p{
        overflow-wrap: break-word;
      }
    }
  }
}

.changePasswordForm {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s;
}

.changePasswordForm.visible {
  opacity: 1;
  max-height: 200px;
}

.crop {
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__container {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  &__button {
    position: relative;
    z-index: 2;
  }
}