.account {
  display: flex;

  &__activeButton{
    background-color: var(--green-jungle-crayola);
    box-shadow: 0 5px 15px rgb(23, 93, 85);
  }

  &__side{
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 60%;
    }
  }

  &__main{
    width: 70%;
    border-radius: 10px;
    background-color: var(--basic-white);
    padding: 20px;
    border: 3px solid var(--green-pine);
    color: var(--dark-green);
  }
}

@media screen and (max-width: 480px){
  .account {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__side {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }
}