.account {
  display: flex;

  &__activeButton {
    background-color: var(--green-jungle-crayola);
    box-shadow: 0 5px 15px rgb(23, 93, 85);
  }

  &__side {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &__mobileMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0;
      opacity: 0;
    }

    button {
      width: 60%;
    }
  }

  &__main {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--basic-white);
    border: 3px solid var(--green-pine);
    color: var(--dark-green);
  }
}

@media screen and (max-width: 520px) {
  .account {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__side {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      &__mobileMenu {
        opacity: 1;
        height: fit-content;
      }
    }
  }
  .visible {
    transform: translateY(0);
    height: auto;
    opacity: 1;
    transition:
      transform 0.5s linear,
      opacity 0.5s linear,
      height 0.5s linear;
  }

  .hidden {
    transform: translateY(-100%);
    height: 0;
    opacity: 0;
    transition:
      transform 0.5s linear,
      opacity 0.5s linear,
      height 0.5s linear;
  }
}

@media screen and (max-width: 380px) {
  .account {
    &__main {
      width: 85%;
    }
  }
}
