.filter {
  &__container {
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 1;
    margin-right: 20px;
    background-color: var(--basic-white);
    border: 1px solid var(--green-crayola-pine);
  }

  &__calendar {
    width: 330px;
  }

  &__autocomplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      width: 280px;
    }
  }
}
