.filter{

  &__container{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    margin-right: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(10px);
      background-color: rgba(60, 179, 166, 0.6);
      border-radius: 15px;
      z-index: -1;
    }

  }

  &__calendar{
  }
}