.container {
  padding: 10px;
  margin-bottom: 15px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationMenu {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}

.menuButton {
  display: none;
}

.menuIcon,
.closeIcon {
  display: none !important;
  color: var(--basic-white);
}

.userIcon {
  border: 1px solid white;
  border-radius: 30%;
  padding: 10px 15px;
  transition-delay: 0.7ms;

  &:hover {
    background-color: var(--turquoise);
    color: var(--basic-white);
    transition-delay: 0.8ms;
  }
}
.shakeAnimation {
  animation: shake 1.3s ease-in-out;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, -5px); }
  20%, 40%, 60%, 80% { transform: translate(5px, 5px); }
  100% { transform: translate(0, 0); }
}