@font-face {
  font-family: 'UbuntuRegular', sans-serif;
  src: local('UbuntuRegular'),
  url("./assets/fonts/Ubuntu-Regular.ttf");
}

* {
  font-family: 'UbuntuRegular', sans-serif;
  margin: 0;
}

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --dusty-blue: #aae7e5;
  --tiffany: #03b7ba;
  --green-jungle-crayola: #3cb3a6;


  --turquoise: #03817f;
  --green-crayola-pine: #0d9483;
  --medium-green: #336e5a;
  --green-pine:#047268;

  --green: #056250;
  --dark-bluish-green: #044938;
  --dark-green: #011f1a;
}

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  background-image: url("./assets/img/background/bc-main.jpg");
  backdrop-filter: blur(3px);
  background-size: cover;
  color: var(--dusty-blue);

  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--medium-green);

  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--green-crayola-pine);
    border-radius: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;

  &:hover{
    color: var(--turquoise);
  }
}

button {
  padding: 8px 10px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--green-pine);
  color: var(--basic-white);
  transition: 0.5s;
  box-shadow: 0 0 0 transparent;

  &:hover {
    background-color: var(--turquoise);
    box-shadow: 0 5px 15px rgb(23, 93, 85);
  }

  &:disabled {
    opacity: 0.2;
  }
}

input {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  color: var(--navy);
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid var(--turquoise)!important;
  }

  &:focus {
    border-bottom: 3px solid var(--dark-green)!important;
  }

  &::placeholder {
    color: var(--medium-green);
  }


  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    background-color: inherit !important;
  }
}

//
//.footer {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 100vw;
//  height: 10vh;
//  border-top: 1px solid white;
//}