@import "src/styles";

.appointments {
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.card {
  width: 100%;
  height: 180px;
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--green-crayola-pine);
  border-radius: 10px;

  &__infoWrapper {
    width: 45%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include customBackgroundStyles;
  }

  &__info {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
    color: var(--basic-white);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(5px);

    &__date {
      padding: 8px 15px;
      color: var(--basic-black);
      text-align: center;
      border-radius: 10px;
      background-color: var(--basic-white);
      border: 2px solid var(--green-crayola-pine);
    }
  }

  &__price {
    width: 40%;
    height: calc(100% - 30px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__btnAction {
    margin: 0;
    padding: 5px 15px;
  }

  &__item {
    font-size: 17px;
  }
}

@media screen and (max-width: 950px) {
  .card {
    &__item {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 750px) {
  .card {
    height: fit-content;
    flex-direction: column;

    &__infoWrapper {
      width: 100%;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }

    &__info {
      border-top-right-radius: 10px;

      > *:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__price {
      width: calc(100% - 30px);
      > *:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
