.form {
  &__autocomplete {
    display: flex;
  }

  &__login,
  &__register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__register {
    width: 240px;
    height: 320px;
  }

  &__passwordVisible {
    transition: 0.5s ease-in-out;
  }


  &__schedule {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__login {
    height: 200px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      padding-left: 5px;
      z-index: 1;
    }

    input {
      width: 90%;
      position: absolute;
      padding: 10px 35px;
    }
  }

  &__error {
    width: 100%;
    padding: 10px 0;
    display: flex;

    color: red;
    background: var(--basic-white);
  }
}

.errMessage {
  text-align: center;
  color: red;
}

.emailMessage {
  text-align: center;
}

.schedule__status {
  display: flex;
  padding: 10px 5px;
  border-bottom: 1px solid gray;
  border-radius: 8px;

  svg {
    padding-right: 5px;
  }
}
